.main {
  margin: 2vw 12vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .heading {
    width: 50vw;
    @media only screen and (max-width: 700px) {
      width: 86vw;
    }
    .main_p {
      font-size: 3vw;
      margin-bottom: 0.5vw;
      letter-spacing: 0.25vw;
      @media only screen and (max-width: 700px) {
        font-size: 6vw;
        margin-bottom: 1vw;
        letter-spacing: 0.5vw;
      }
    }
    .main_pc {
      margin-top: 2vw;
      font-size: 1.5vw;
      margin-bottom: 0.5vw;
      letter-spacing: 0.25vw;
      @media only screen and (max-width: 700px) {
        font-size: 3vw;
        margin-top: 4vw;
        margin-bottom: 1vw;
        letter-spacing: 0.5vw;
      }
    }
    .buttonc {
      margin-top: 2vw;
      font-size: 1.2vw;
      background-color: #171513;
      color: white;
      width: 18vw;
      // height: 6vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .name {
        margin-left: 1vw;
        font-size: 1.2vw;
        @media only screen and (max-width: 700px) {
          margin-left: 2vw;
          font-size: 2.4vw;
        }
      }
      .button {
        font-size: 1.2vw;
        background-color: white;
        color: #171513;
        border: 0.2vw solid #171513;
        width: 9vw;
        text-align: center;
        cursor: pointer;
        padding: 0.65vw;
        // height: 6vh;
        @media only screen and (max-width: 700px) {
          padding: 1.3vw;
          font-size: 2.4vw;
          width: 14vw;
        }
      }
      @media only screen and (max-width: 700px) {
        width: 32vw;
        // margin-bottom: 6vw;
      }
    }
  }
  .photo {
    .img {
      width: 25vw;
      border-radius: 3vw;
      @media only screen and (max-width: 700px) {
        width: 0vw;
      }
    }
  }
  @media only screen and (max-width: 700px) {
    flex-direction: column;
  }
}
