.main {
  margin: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  @media only screen and (max-width: 700px) {
    flex-direction: column;
    margin: 2rem;
  }

  .heading {
    width: 50vw;
    margin-left: 2rem;
    @media only screen and (max-width: 700px) {
      width: 96vw;
      margin-bottom: 2rem;
    }
    .main_p:nth-child(1) {
      color: red;
      font-size: 2vw;
      margin-bottom: 0.5rem;
      letter-spacing: 0.25vw;
      @media only screen and (max-width: 700px) {
        font-size: 4vw;
      }
    }
    .main_p:nth-child(2) {
      font-size: 3vw;
      margin-bottom: 0.5rem;
      letter-spacing: 0.25vw;
      @media only screen and (max-width: 700px) {
        font-size: 6vw;
      }
    }
    .main_p:nth-child(3) {
      font-size: 1vw;
      letter-spacing: 0.25vw;
      @media only screen and (max-width: 700px) {
        font-size: 2vw;
      }
    }
  }
  .photo {
    .img {
      width: 25vw;
      border-radius: 3vw;
      @media only screen and (max-width: 700px) {
        width: 80vw;
      }
    }
  }
}
