.main{
    margin: 1vw 8vw 8vw 8vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .name{
        font-size: 2vw;

    }
    .content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 20vw;
        font-size: 1vw;
    }
    .let{
        .button {
            font-size: 1vw;
            background-color: white;
            color: #171513;
            border: 0.2vw solid #171513;
            width: 6vw;
            text-align: center;
            cursor: pointer;
            padding: 0.65vw;
          }
    }
}