.main {
  margin: 12vw 12vw 10vw 12vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .area1 {
    width: 40%;
    .name {
      font-size: 2vw;
      margin-bottom: 1.5vw;
      @media only screen and (max-width: 700px) {
       font-size: 4vw;
       margin-bottom: 3vw;
      }
    }
    .heading {
      font-size: 3vw;
      @media only screen and (max-width: 700px) {
        font-size: 6vw;
        margin-bottom: 4vw;
      }
    }
    @media only screen and (max-width: 700px) {
      width: 100%;
    }
  }
  .area2 {
    width: 55%;
    .head {
      font-size: 2vw;
      margin-bottom: 1.5vw;
      @media only screen and (max-width: 700px) {
        margin-bottom: 3vw;
        font-size: 4vw;
      }
    }
    .subhead {
      margin-bottom: 2vw;
      font-size: 1vw;
      @media only screen and (max-width: 700px) {
        margin-bottom: 4vw;
        font-size: 2vw;
      }
    }
    .info {
      display: flex;
      flex-direction: row;
      color: red;
      font-size: 1vw;
      margin-bottom: 1vw;
      justify-content: space-between;
      @media only screen and (max-width: 700px) {
        margin-bottom: 2vw;
        font-size: 2vw;
      }
    }
    .info2 {
      display: flex;
      flex-direction: row;
      font-size: 1.5vw;
      justify-content: space-between;
      @media only screen and (max-width: 700px) {
        font-size: 3vw;
      }
    }
    @media only screen and (max-width: 700px) {
      width: 100%;
    }
  }
  @media only screen and (max-width: 700px) {
    flex-direction: column;
  }
}

.main2 {
  margin: 6vw 12vw 12vw 12vw;
  display: flex;
  flex-direction: row;
  .two {
    background-color: white;
    color: black;
    width: 33%;
    text-align: center;
    .namehead {
      margin-top: 1vw;
      margin-bottom: 1vw;
      font-size: 3vw;
      @media only screen and (max-width: 700px) {
        margin-top: 2vw;
        margin-bottom: 2vw;
        font-size: 6vw;
      }
    }
    .namesub {
      margin-bottom: 1vw;
      font-size: 1vw;
      @media only screen and (max-width: 700px) {
        font-size: 2vw;
        margin-bottom: 2vw;
      }
    }
  }
  .one {
    width: 33%;
    text-align: center;
    border: 0.2vw solid white;
    .namehead {
      margin-top: 1vw;
      margin-bottom: 1vw;
      font-size: 3vw;
      @media only screen and (max-width: 700px) {
        margin-top: 2vw;
        margin-bottom: 2vw;
        font-size: 6vw;
      }
    }
    .namesub {
      margin-bottom: 1vw;
      font-size: 1vw;
      @media only screen and (max-width: 700px) {
        margin-bottom: 2vw;
        font-size: 2vw;
      }
    }
  }
  @media only screen and (max-width: 700px) {
    margin: 6vw 8vw 12vw 8vw;
  }
}

.section-background {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 65vw;
  background-color: black;
  width: 100%;
  color: #FFFFFF;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // opacity: 0.75;
  padding: 2vw 0vw;
  margin-bottom: 6vw;
  @media only screen and (max-width: 700px) {
    // flex-direction: column;
    height: 140vw;
  }
}