.main{
    background-color: gray;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .last{
        background-color: gray;
        text-align: center;
    }
    
    .built{
        background-color: gray;
        text-align: center;
    }
}