.main{
    margin: 4vw 0vw 8vw 0vw;
    padding: 1.5vw;
    color: white;
    font-size: 1.2vw;
    position: relative;
    left: -2vw;
    width: 102vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #171513;
    transform: rotate(-3deg);
}